<settings>
  <servers>
    <server>
      <id>github</id>      
      <password>c9c9f1f6d9d3c3166e6f701a0f5be67a90d0f627</password>
    </server>
  </servers>
      <profiles>
        <profile>
            <id>securecentral</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>               
                <repository>
                    <id>odana-maven-repo-mvn-repo</id>
					<url>https://raw.github.com/sankalpkale88/odana-maven-repo/mvn-repo/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                 <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>                
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>